<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h1>{{errorText}}</h1>
        </div>
        {{>footer}}
    </body>
</html>